/* 
01) FONT-SIZE
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 /
36 / 44 / 52 / 62 / 74 / 86 / 98

FONT-WEIGHT: 400 500 600 700
LINE-HEIGHT: 1 1.05 1.6

02) COLORS
- Primary Color: #e67e22
- Tints: #fdf2e9
- Shades: #cf711f
- Accents:
- Greys: #555 #333

03) SHADOWS
- box-shadow:

04) BORDER-RADIUS: 9px

05) WHITE SPACE:
2 / 4 / 8 / 12 / 16 / 24 / 32 /  48 / 64 / 80 / 96 / 128

*/

/* ================= */
/* //TODO RESET CSS */
/* ================= */
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/* =============================== */
/* //TODO REUSED COMPONENT */
/* =============================== */
.container {
  margin: 0 auto;
  max-width: 120rem;
  padding: 0 3.2rem;
}

/* //todo GRID */
.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

/* //todo HEADING */
.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 4.8rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* //todo BTN */
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 1.6rem 3.2rem;
  border-radius: 11px;
  font-weight: 600;
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

/* //todo HELPER CLASS */

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/* ===============*/
/* //TODO HEADER */
/* ============== */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  /* Nav sticky for fix height */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* //TODO NAVIGATION */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 11px;
  color: #fff;
  background-color: #e67e22;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* =========== */
/* //TODO HERO */
/* =========== */
.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;

  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* .hero-text-box {
} */

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-image {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  margin-top: 8rem;
  gap: 1.6rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 5.2rem;
  width: 5.2rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* ================== */
/* //TODO HOW IT WORK */
/* ================== */
.section-how {
  padding: 9.6rem 0;
}

.step-img {
  width: 50%;
}
